body{
  background-color: #05cafc !important;
  font-size: 1.5em;
  color: white !important
}

#reggio-ciano01{
  width: 100%
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h1,h2,h3{
  color: red
}

span:hover{
  color: green
}

a{
  color: white
}

table{
  padding-top: 50px;
  padding-left: 50px
}

.imgmezzi{
	width: 30%;
	border: 5px;
  
}

#fermate{
  width: 70%
}

#instagram{
  width: 20px;
  height: 20px;
  display: block;
}

tr:hover{
  background-color: green;
}

li:hover{
  color: green
}

div{
  padding-bottom: 20px
}

a:hover{
  color: blue
}