body{
  background-color: #05cafc !important;
  font-size: 1.5em;
  color: white !important
}

h1,h2,h3{
  color: red
}

#stazione{
  width: 50%;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px
}

span:hover{
  color: green
}

a{
  color: white
}

div{
  padding-bottom: 20px
}

a:hover{
  color: blue
}

span:hover{
  color: green
}

#reggio-ciano01{
  width: 100%
}

a{
  color: white
}

#instagram{
  width: 20px;
  height: 20px;
  display: block;
}

tr:hover{
  background-color: green;
}

li:hover{
  color: green
}

div{
  padding-bottom: 20px
}

a:hover{
  color: blue
}